*, html, body {
    border: 0;
    color: #222;
    margin: 0;
    padding: 0;
}
body {
    margin: 50px;
}
#game_area {
    background: #F8F8F8;
    border: 2px inset #CCC;
    height: 324px;
    margin: 50px auto 0;
    position: relative;
    width: 324px;
}

#game_area div {
    background: #FFFFFF;
    border: 2px outset #CCC;
    cursor: pointer;
    display: inline-block;
    font: 40px/70px Tahoma, Arial, sans-serif;
    height: 70px;
    margin: 5px;
    position: absolute;
    text-align: center;
    width: 70px;
}
#new_game {
    background: #086893;
    border: 1px outset;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 30px;
    padding: 5px 15px;
}
#new_game:hover {
    background: #2C86B0;
}
#position_1 {
    left: 0;
    top: 0;
}
#position_2 {
    left: 80px;
    top: 0;
}
#position_3 {
    left: 160px;
    top: 0;
}
#position_4 {
    left: 240px;
    top: 0;
}
#position_5 {
    left: 0;
    top: 80px;
}
#position_6 {
    left: 80px;
    top: 80px;
}
#position_7 {
    left: 160px;
    top: 80px;
}
#position_8 {
    left: 240px;
    top: 80px;
}
#position_9 {
    left: 0;
    top: 160px;
}
#position_10 {
    left: 80px;
    top: 160px;
}
#position_11 {
    left: 160px;
    top: 160px;
}
#position_12 {
    left: 240px;
    top: 160px;
}
#position_13 {
    left: 0;
    top: 240px;
}
#position_14 {
    left: 80px;
    top: 240px;
}
#position_15 {
    left: 160px;
    top: 240px;
}
#position_16, #game_area div#position_16 {
    left: 240px;
    top: 240px;
}
#game_area .space {
    background: transparent;
    border: none;
    cursor: default;
}
#step_counter {
    font-weight: bold;
}

.center {
    text-align: center;
}